#side-menu {
  position: relative;
  float: left;
  width: 20%;
  min-width: 300px;
  height: auto;
  min-height: 100vh;
  color: $white;
  background-color: $orange;

  div {
    padding: 1rem 0;
  }
  a {
    color: $white;
    &:hover {
      opacity: 0.8;
    }
  }
}
